.bloco1-horario{
  background-color: blueviolet;
  width: 100%;
  height:350px;

}

.bloco2-horario{
    background-color: blue;
    width: 100%;
    height:350px;
 
}

.no-gutter {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
 }
  
  .no-gutter > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
    margin-top: 0;
  }

  .bloco3-galeria-titulo{
    background-color: blueviolet;
    width: 100%;
    height:90px;
  }

  .bloco4-galeria-imagem{
    background-color: rgb(129, 129, 129);
    width: 100%;
    height:250px;
  }
  .bloco5-galeria-imagem{
    background-color: blueviolet;
    width: 100%;
    height:250px;
  }
  .bloco6-galeria-imagem{
    background-color: rgb(129, 129, 129);
    width: 100%;
    height:250px;
  }
  .bloco7-galeria-imagem{
    background-color: blueviolet;
    width: 100%;
    height:250px;
  }
  .bloco8-galeria-imagem{
    background-color: rgb(129, 129, 129);
    width: 100%;
    height:250px;
  }
  .bloco9-galeria-imagem{
    background-color: blueviolet;
    width: 100%;
    height:250px;
  }

  .text-myrow2 {
    box-sizing: border-box;
    color: #413939;
    font-family: "Poppins";
    font-size: 32px;
    letter-spacing: normal;
    text-shadow: #282020;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.my-container2 {
    align-content: center;
    height: 70px;
    width: 20%;
    display: flex;
    background-color: rgba(238, 160, 234, 0.356);
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.bloco-osalao-titulo{
    background-color: blueviolet;
    width: 100%;
    height:90px;
}

.bloco-osalao2{
    width: 100%;
    height:350px;
    background-color: rgb(129, 129, 129);

}

.bloco-osalao3{
    width: 100%;
    height:350px;
    background-color: blueviolet;

}

.g3 {
    width: 100%;
    height: 15px;
}

.g4 {
    width: 100%;
    height: 35px;
}
.bloco10-servicos-titulo{
    background-color: blueviolet;
    width: 100%;
    height:90px;
}