* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

* {
    box-sizing: border-box;
}

footer {
    width: 100%;
    padding-top: 40px;
}

.g2 {
    width: 100%;
    height: 60px;
}

.container-center {
    width: 100%;
    height: 50%;
    background-color: white;
}

.container-footer-all {
    width: 100%;
    height: 20%;
}

.container-body {
    display: flex;
    justify-content: space-between;
}

.colum1 {
    width: 50%;
}

.colum1 h1 {
    font-size: 14px;
    font-family: "Poppins";
}

.colum1 p {
    font-size: 14px;
    color: #c7c7c7;
    margin-top: 28px;
    font-family: "Poppins";
}

.column2 {
    max-width: 50%;
}

.column2 h1 {
    font-size: 14px;
    font-family: "Poppins";
}

.row {
    margin-top: 20px;
    display: flex;
}

.row img {
    width: 35px;
    height: 36px;
}

.row2 {
    margin-top: 20px;
    font-family: "Poppins";
}

.row2 img {
    width: 36px;
    height: 36px;
}

.row2 label {
    margin-top: 10px;
    margin-left: 20px;
    max-width: 150px;
    font-family: "Poppins";
}

.container-footer {
    width: 100%;
    font-family: "Poppins";
}


/* Slideshow container */

.slideshow-container {
    padding: 1%;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    margin: auto;
    top: 50px;
}


/* Hide the images by default */

.mySlides {
    display: none;
    height: 100%;
}

.text {
    color: white;
    font-size: 20px;
    padding: 20px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-family: "Poppins";
}


/* Number text (1/3 etc) */


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    bottom: 10%;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 2.s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

body {
    width: 100%;
    height: 100vh;
    background-color: white;
    background-size: cover;
    display: table;
}

.content {
    position: absolute;
    top: 15%;
    left: 15%;
    transform: translate(-50%, -50%);
}

.content h1 {
    color: rgb(70, 70, 70);
    font-family: "Poppins";
    font-weight: 200;
    font-size: 40px;
}

nav {
    width: 100%;
    background-color: black;
    height: 70px;
    position: static;
    z-index: 1;
}

nav #brand {
    float: left;
    display: block;
    margin-left: 84px;
    font-size: 24px;
    line-height: 70px;
    font-weight: bold;
}

nav #brand a {
    color: #fff;
    transition: all 0.3s ease-out;
    font-family: "Poppins";
    font-weight: 150;
}

nav #menu {
    float: left;
    left: 25%;
    position: relative;
}

nav #menu li {
    display: inline-block;
    padding: 0px 30px;
    cursor: pointer;
    line-height: 70px;
    position: relative;
    transition: all 0.3s ease-out;
}

nav #menu li a {
    color: #fff;
    font-family: "Poppins";
    font-weight: 200;
}

#toggle {
    position: absolute;
    right: 20px;
    top: 14px;
    z-index: 999;
    width: 40px;
    height: 40px;
    cursor: pointer;
    float: right;
    transition: all 0.3s ease-out;
    visibility: hidden;
    opacity: 0;
}

#toggle .span {
    height: 3px;
    background: #fff;
    transition: all 0.3s ease-out;
    backface-visibility: hidden;
    margin: 5px auto;
}

#toggle.on #one {
    transform: rotate(45deg) translateX(2px) translateY(4px);
}

#toggle.on #two {
    opacity: 0;
}

#toggle.on #three {
    transform: rotate(-45deg) translateX(8px) translateY(-10px);
}

#resize {
    z-index: 1;
    top: 0px;
    position: fixed;
    background-color:black;
    width: 100%;
    height: 700px;
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease-out;
    display: table;
}

#resize #menu {
    height: 100%;
    display: table-cell;
    vertical-align: center;
}

#resize #menu li {
    display: block;
    text-align: center;
    padding: 8px 0;
    font-size: 50px;
    min-height: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
    margin-top: 110px;
}

#resize #menu li a {
    color: #fff;
}

#resize.active {
    visibility: visible;
    opacity: 0.90;
}

@media (max-width: 768px) {
    #toggle {
        visibility: visible;
        opacity: 1;
        margin-top: 6px;
    }
    nav #brand {
        margin-left: 18px;
    }
    #menu a {
        font-family: "Poppins";
        font-weight: 200;
        font-size: 20px;
    }
    nav #menu {
        display: none;
    }
}

@media (min-width: 768px) {
    #resize {
        visibility: hidden !important;
    }
}


/* reset básico */

.my-container3 {
    height: 550px;
    width: 30%;
}

.my-container4 {
    border: 1px solid green;
    height: 10%;
    width: 30%;
}


.my-row {
    border: 3px solid red;
    height: 80%;
    width: 100%;
    -webkit-justify-content: center;
    justify-content: center;
}

.my-row2 {
    height: 50px;
    width: 100%;
    -webkit-justify-content: center;
    justify-content: center;
}

.my-row3 {
    height: 100%;
    width: 100%;
    -webkit-justify-content: center;
    justify-content: center;
}

.my-row4 {
    border: 3px solid red;
    height: 70%;
    width: 100%;
    -webkit-justify-content: center;
    justify-content: center;
}

.my-col {
    margin: 5px;
    padding: 0 10px;
}

.my-col2 {
    border: 3px dotted blue;
    margin: 0 5px;
    background: cornflowerblue;
    flex-grow: 1;
}

.my-col3 {
    width: 33%;
    height: 33%;
    margin-right: 50px;
    margin-top: 5px;
    margin-left: 5px;
    flex-grow: 1;
}



.text-myrow2 h2 {
    display: block;
    margin: 0;
    text-align: center;
}

.content-left {
    background-color: red;
    height: 400px;
    padding-top: 20px;
    margin-top: 20px;
}

.content-center {
    background-color: green;
    height: 400px;
    margin-top: 20px;
}

.content-right {
    background-color: purple;
    height: 400px;
    padding-top: 20px;
    margin-top: 20px;
}

.copyright h3{
    color: white;
    font-family: FuturaPTMedium;
}

.footer-info h1 {
    color: #fff;
    font-family: "Poppins";
    font-size: 26px;
}

.footer-info p {
    color: #C9C9C9;
    font-family: "Poppins";

}



.footer-end p {
    color: #C9C9C9;
    font-family: "Poppins";
}

.footer-end h1 {
    color: #fff;
    font-family: "Poppins";
    font-size: 26px;
}

.footer-links h3 {
    color: #fff;
    font-family: "Poppins";
    font-size: 18px;
    position: relative;
    left: 7%;

}

.footer-contact p {
    color: #C9C9C9;
    font-family: "Poppins";

}

.siganos h3 {
    position: relative;
    left: 7%;
}



.siganos-icons{
    position: relative;
    left: 1%;

}
.siganos-icons-2{
display: flex;
 position: relative;
    left: 10px;
}

.middle{
    width: 5%;
}

.footer-top {
    background-color:#282020;
}

.footer-contact h1 {
    color: #fff;
    font-family: "Poppins";
    font-size: 26px;
}





@font-face {
    font-family: FuturaPTMedium;
    src: url(fontes/FuturaPTMedium.otf)
}


@font-face {
    font-family: MarionRegular;
    src: url(fontes/MarionRegular.ttf);
}

.medium {
    font-family: FuturaPTMedium;
}

.regular {
    font-family: MarionRegular;
}
.footer-below {
        align-items: center;
       background-color: #171717;
       height: 5%;
}


